<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body>
    <nav id="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Accueil</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('jeu') }}">Nombre mystère</a>
            </li>
            <li class="navbar-item">
                <a href="{{ url_for('somme') }}">somme</a>
            </li>
            <li class="navbar-item login-logout">
                {% if session['nom_utilisateur'] %}
                    <a href="{{ url_for('logout') }}">Se déconnecter</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Se connecter</a>
                {% endif %}
            </li>
        </ul> 
    </nav>
    
    <div id="container">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>