{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div id="upload-pdf">
    <h1>Télécharger un fichier PDF</h1>
    <form action="{{ url_for('compteur_pdf') }}" method="POST" enctype="multipart/form-data">
    <p>
        <label for="file">Téléchargez un fichier PDF :</label>
        <input type="file" name="file" id="file" accept="application/pdf" required>
    </p>
    <p>
        <input class="btn" type="submit" value="Télécharger et compter les mots">
    </p>
</form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    {% if word_count %}
        <p>Le fichier PDF contient {{ word_count }} mots.</p>
    {% endif %}
</div>
{% endblock %}