<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon appli</title>
</head>
<body>
    <h1>Liste d'élèves</h1>
    {% if eleves|length == 0 %}
        <p>Aucun élève ne correspond à la recherche.</p>
    {% else %}
        <ul>
            {% for eleve in eleves %}
                <li>{{ eleve['nom'] }} {{ eleve['prenom'] }}, {{ eleve['classe'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>