{% extends "base.html" %}

{% block content %}
<h1>Page de connexion</h1>
<form action="{{ url_for('login') }}" method="POST">
    <p>
        <!-- Champ de type "text" -->
        <label for="nom">Nom : </label>
        <input type="text" name="nom" id="nom" required>
    </p>
    <p>
        <!-- Champ de type "password" -->
        <label for="mdp">Mot de passe : </label>
        <input type="password" name="mdp" id="mdp" required>
    </p>
    <p>
        <!-- Bouton d'envoi du formulaire -->
        <input type="submit" value="Envoyer le formulaire">
        <!-- <button type="submit">Envoyer le formulaire</button> -->
    </p>
</form>
{% endblock %}
